@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
<h1>Menu</h1>
<div class="content">
    <div id="results">
        <div id="CombosDiv" class="menu-div">
            <h2>Combos</h2>
            @for (int i = 0; i < Model.Menu.AvailableCombos.Count; i++)
            {
                <div class="menu-item">
                    <h3>@Model.Menu.AvailableCombos[i].ToString()</h3>
                    <ul>
                        <li>Price: $@Model.Menu.AvailableCombos[i].Price</li>
                        <li>Calories: @Model.Menu.AvailableCombos[i].Calories</li>
                        <li>Ingredients: @string.Join(", ", Model.Menu.AvailableCombos[i].Ingredients)</li>
                        <li>Drink: @Model.Menu.AvailableCombos[i].Drink.ToString()</li>
                        <li>Side: @Model.Menu.AvailableCombos[i].Side.ToString()</li>
                    </ul>
                </div>
            }
        </div>

        <div id="EntreesDiv" class="menu-div">
            <h2>Entrees</h2>
            @for (int i = 0; i < Model.Menu.AvailableEntrees.Count; i++)
            {
                <div class="menu-item">
                    <h3>@Model.Menu.AvailableEntrees[i].ToString()</h3>
                    <ul>
                        <li>Price: $@Model.Menu.AvailableEntrees[i].Price</li>
                        <li>Calories: @Model.Menu.AvailableEntrees[i].Calories</li>
                        <li>Ingredients: @string.Join(", ", Model.Menu.AvailableEntrees[i].Ingredients)</li>
                    </ul>
                </div>
            }
        </div>

        <div id="SidesDiv" class="menu-div">
            <h2>Sides</h2>
            @for (int i = 0; i < Model.Menu.AvailableSides.Count; i++)
            {
                <div class="menu-item">
                    <h3>@Model.Menu.AvailableSides[i].ToString()</h3>
                    <ul>
                        <li>Price: $@Model.Menu.AvailableSides[i].Price</li>
                        <li>Calories: @Model.Menu.AvailableSides[i].Calories</li>
                        <li>Ingredients: @string.Join(", ", Model.Menu.AvailableSides[i].Ingredients)</li>
                    </ul>
                </div>
            }
        </div>


        <div id="DrinksDiv" class="menu-div">
            <h2>Drinks</h2>
            @for (int i = 0; i < Model.Menu.AvailableDrinks.Count; i++)
            {
                <div class="menu-item">
                    <h3>@Model.Menu.AvailableDrinks[i].ToString()</h3>
                    <ul>
                        <li>Price: $@Model.Menu.AvailableDrinks[i].Price</li>
                        <li>Calories: @Model.Menu.AvailableDrinks[i].Calories</li>
                        <li>Ingredients: @string.Join(", ", Model.Menu.AvailableDrinks[i].Ingredients)</li>
                    </ul>
                </div>
            }
        </div>
    </div>

    <form method="post">
        <h4>Search</h4>
        <input type="text" name="search" id="search" />
        <input type="submit" value="Search" />
        <input type="submit" id="filter" value="Apply Filter(s)" />
        <h4>Filter By Menu Category</h4>
        <div class="menu-category-list">
            <label>
                <input type="checkbox" class="menu-category" name="menuCategory" value="Combo" />
                Combo
            </label>
            <label>
                <input type="checkbox" class="menu-category" name="menuCategory" value="Entree" />
                Entree
            </label>
            <label>
                <input type="checkbox" class="menu-category" name="menuCategory" value="Side" />
                Side
            </label>
            <label>
                <input type="checkbox" class="menu-category" name="menuCategory" value="Drink" />
                Drink
            </label>
        </div>
        <h4>Filter By Price</h4>
        <div class="price-list">
            Min <input type="number" class="price" id="minimum-price" name="minimumPrice" />
            Max <input type="number" class="price" id="maximum-price" name="maximumPrice" />
        </div>
    </form>
</div>