@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
<h1>Menu</h1>
<div class="content">
    <div id="results">
        @if (Model.Combos.Count > 0)
        {
            <div id="CombosDiv" class="menu-div">
                <h2>Combos</h2>
                @for (int i = 0; i < @Model.Combos.Count; i++)
                {
                    <div class="menu-item">
                        <h3>@Model.Combos[i].ToString()</h3>
                        <ul>
                            <li>Price: $@Model.Combos[i].Price</li>
                            <li>Calories: @Model.Combos[i].Calories</li>
                            <li>Ingredients: @string.Join(", ", Model.Combos[i].Ingredients)</li>
                            <li>Drink: @Model.Combos[i].Drink.ToString()</li>
                            <li>Side: @Model.Combos[i].Side.ToString()</li>
                        </ul>
                    </div>
                }
            </div>
        }

        @if (Model.Entrees.Count > 0)
        {
            <div id="EntreesDiv" class="menu-div">
                <h2>Entrees</h2>
                @for (int i = 0; i < Model.Entrees.Count; i++)
                {
                    <div class="menu-item">
                        <h3>@Model.Entrees[i].ToString()</h3>
                        <ul>
                            <li>Price: $@Model.Entrees[i].Price</li>
                            <li>Calories: @Model.Entrees[i].Calories</li>
                            <li>Ingredients: @string.Join(", ", Model.Entrees[i].Ingredients)</li>
                        </ul>
                    </div>
                }
            </div>
        }

        @if (Model.Sides.Count > 0)
        {
            <div id="SidesDiv" class="menu-div">
                <h2>Sides</h2>
                @for (int i = 0; i < Model.Sides.Count; i++)
                {
                    <div class="menu-item">
                        <h3>@Model.Sides[i].ToString()</h3>
                        <ul>
                            <li>Price: $@Model.Sides[i].Price</li>
                            <li>Calories: @Model.Sides[i].Calories</li>
                            <li>Ingredients: @string.Join(", ", Model.Sides[i].Ingredients)</li>
                        </ul>
                    </div>
                }
            </div>
        }

        @if (Model.Drinks.Count > 0)
        {

            <div id="DrinksDiv" class="menu-div">
                <h2>Drinks</h2>
                @for (int i = 0; i < Model.Drinks.Count; i++)
                {
                    <div class="menu-item">
                        <h3>@Model.Drinks[i].ToString()</h3>
                        <ul>
                            <li>Price: $@Model.Drinks[i].Price</li>
                            <li>Calories: @Model.Drinks[i].Calories</li>
                            <li>Ingredients: @string.Join(", ", Model.Drinks[i].Ingredients)</li>
                        </ul>
                    </div>
                }
            </div>
        }
    </div>

    <form method="post">
        <h4>Search</h4>
        <input type="text" name="search" id="search" value="@Model.search" />
        <input type="submit" value="Search & Filter" />
        <h4>Filter By Menu Category</h4>
        <div class="menu-category-list">
            <label>
                <input type="checkbox" class="menu-category" name="menuCategory" value="Combo" checked="@Model.menuCategory.Contains("Combo")" />
                Combo
            </label>
            <label>
                <input type="checkbox" class="menu-category" name="menuCategory" value="Entree" checked="@Model.menuCategory.Contains("Entree")" />
                Entree
            </label>
            <label>
                <input type="checkbox" class="menu-category" name="menuCategory" value="Side" checked="@Model.menuCategory.Contains("Side")" />
                Side
            </label>
            <label>
                <input type="checkbox" class="menu-category" name="menuCategory" value="Drink" checked="@Model.menuCategory.Contains("Drink")" />
                Drink
            </label>
        </div>
        <h4>Filter By Price</h4>
        <div class="price-list">
            Min <input type="number" class="price" id="minimum-price" name="minimumPrice" value="@Model.minimumPrice" />
            Max <input type="number" class="price" id="maximum-price" name="maximumPrice" value="@Model.maximumPrice" />
        </div>
        <h4>Exclude Ingredients</h4>
        <div class="ingredient-list">
            @foreach(string ingredient in @Model.Menu.AvailableIngredients)
            {
                <lable>
                    <input type="checkbox" class="exclude-ingredient" name="ingredient" value="@ingredient" checked="@Model.ingredient.Contains(ingredient)" />
                    @ingredient
                </lable>
            }
        </div>
    </form>
</div>